@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

.sidebar {
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    height: 100%;
    min-height: 100vh;
    background: #168EC6;
    padding: 30px 10px;
    position: absolute;
}

.sidebar .logo {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}
