<div class="sidebar">
    <div class="logo">
        <h1><a href="">Interngram.</a></h1>

    </div>
    <div class="links-wrap">
        <ul>
            <li><a routerLink="posts">Home</a></li>
        </ul>
    </div>
</div>