.content {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.video-preview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-icon {
    font-size: 50px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}