<div class="modal">
  <mat-icon class="close-icon" (click)="onClose()">close</mat-icon>

  <div class="content">
    <div class="video-preview">
      <iframe width="677" height="381" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen #iframe>
        <app-loading-spinner *ngIf="!loaded"></app-loading-spinner>
      </iframe>
    </div>
  </div>
</div>