.post-card-wrap {
    background: #fff;
    border-radius: 5px;
}

.card-desc-body {
    padding: 10px;
}

.card .footer {
    padding: 10px;
    background: #168EC6;
    color: #fff;
}

img {
    width: 100%;
}

.thumbnail {
    height: 200px;
    width: 100%;
    background: url('http://www.stleos.uq.edu.au/wp-content/uploads/2016/08/image-placeholder-350x350.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.present {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.present .overlay {
    position: absolute;
    background: rgba(1, 1, 1, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all ease-in-out;
}

.present:hover .overlay {
    opacity: 1;
}

.present .overlay .icons {
    display: flex;
}

.present:hover .overlay .icons {
    color: #fff;
}

.btn-circle {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s all ease-in-out;
    margin: 0 5px;
}

.btn-circle:hover {
    background: #fff;
    color: #168EC6;
}

.btn-circle:hover .btn-image.delete {
    color: rgb(184, 28, 28);
}

.btn-circle:hover .btn-image.delete {
    color: rgb(184, 28, 28);
}

.btn-circle:hover .btn-image.open {
    color: coral;
}

.footer {
    font-size: 12px;
    color: rgb(173, 220, 241);
    display: flex;
    justify-content: flex-start;
}

.footer .cal-icon {
    font-size: 16px;
}

.title {
    text-align: center;
    padding: 20px 0;
}

.title h3 {
    font-size: 20px;
    font-weight: 300;
    word-wrap: break-word;
}