<div class="post-card-wrap">
    <div class="card">
        <div class="">
            <div class="present">
                <div class="thumbnail" [style.background-image]="'url(' + getBackground() + ')'">

                </div>
                <div class="overlay">
                    <div class="icons">
                        <span class="btn-circle" (click)="onView()">
                            <mat-icon class="btn-image open">visibility</mat-icon>
                        </span>
                        <span class="btn-circle" (click)="onEditPost()">
                            <mat-icon class="btn-image">create</mat-icon>
                        </span>
                        <span class="btn-circle" (click)="onDeletePost()">
                            <mat-icon class="btn-image delete">delete</mat-icon>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card-desc-body">
                <div class="title">
                    <h3>{{post.title}}</h3>
                </div>
            </div>
            <div class="footer">
                <mat-icon class="cal-icon">calendar_today</mat-icon>
                <p class="date-post">{{post.date | date}}</p>
            </div>
        </div>
    </div>
</div>