.content-right {
    margin-left: 220px;
    padding-top: 5%;
}

.form-wrap {
    width: 70%;
    max-width: 100%;
    background: #fff;
    padding: 40px 20px;
    margin: auto;
    border: 2px solid #f7f2f2;
    border-radius: 5px;
}

.input-row {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.form-wrap label {
    color: #168EC6;
    font-size: 16px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    left: 30px;
    top: -15px;
    color: #A8A8A8;
}

.form-wrap label.invalid {
    color: rgb(223, 71, 71);
}

.form-wrap label, .form-wrap input {
    display: block;
}

.form-wrap input, .form-wrap select {
    display: block;
    width: 100%;
    height: 60px;
    border: 1px solid #A8A8A8;
    border-radius: 30px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 18px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid rgb(223, 71, 71);
    box-shadow: 0 0 3px 3px rgba(223, 71, 71, 0.301);
    ;
}

.title {
    margin-bottom: 25px;
}

.buttons {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%
}

.preview {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%
}

img {
    width: 100%;
    border-radius: 5px;
}

.btn:first-child {
    margin-right: 10px;
}

.btn-cancel {
    border-color: #EDAE49;
    color: #EDAE49;
}

.btn-cancel:hover {
    background: #EDAE49;
    color: #fff;
}

button:disabled {
    cursor: not-allowed;
}

.text-error {
    margin-bottom: 30px;
}

.text-error p {
    color: rgb(223, 71, 71);
    font-size: 16px;
    vertical-align: middle;
}

.text-error .err-icon {
    vertical-align: bottom;
}