<div class="content-right">
    <div class="form-wrap">

        <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="input-row">
                <div class="title t-1">
                    <h1>{{editMode ? 'Edit Post.' : 'Add Post.'}}</h1>
                </div>
            </div>

            <div class="input-row">
                <label for="title" [class.invalid]="f.type.touched && f.type.errors?.required">Type</label>
                <select formControlName="type" #type (change)="onChange($event)" #type>
                    <option value="IMAGE">Image</option>
                    <option value="VIDEO">Video</option>
                    <option value="LINK">Link</option>
                </select>
                <div class="text-error" *ngIf="f.type.touched && f.type.errors?.required">
                    <p>
                        <mat-icon class="err-icon">error</mat-icon>This field is required!
                    </p>
                </div>
            </div>

            <div class="input-row">
                <label for="title" [class.invalid]="f.title.touched && f.title.errors?.required">Title</label>
                <input type="text" id="title" formControlName="title">
                <div class="text-error" *ngIf="f.title.touched && f.title.errors?.required">
                    <p>
                        <mat-icon class="err-icon">error</mat-icon>This field is required!
                    </p>
                </div>
            </div>
            <div class="input-row" *ngIf="type.value === 'IMAGE'">
                <label for="alt">ALt</label>
                <input type="text" id="alt" formControlName="postMetaAlt" #alt>
            </div>
            <div class="input-row">
                <label for="">Url</label>
                <input type="text" id="metaUrl" formControlName="postMetaUrl" #url (input)="onChange($event)">
            </div>

            <div class="input-row">
                <div class="d-flex">
                    <div class="buttons">
                        <button type="submit" class="btn" [disabled]="!postForm.valid">{{editMode ? 'Edit' : 'Add'}}</button>
                        <button type="submit" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
                    </div>
                    <div class="preview" #imgPreview *ngIf="thumbImage">
                        <div *ngIf="type.value === 'IMAGE'">
                            <img [src]="thumbImage" alt="">
                        </div>
                        <div *ngIf="type.value === 'VIDEO'">
                            <a [href]="videoLink" target="_blank">
                                <img [src]="thumbImage" alt="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>