<div class="content">
  <div class="header">
    <div class="user-box">
      <div class="img"></div>
      <div class="name"></div>
    </div>
  </div>
  <div class="posts-wrap">
    <div class="posts-top d-flex">
      <div class="title">
        <h2>Posts</h2>
      </div>
      <div class="btn-wrap">
        <a class="btn" routerLink="add">
          Add Post
        </a>
      </div>
    </div>
    <div class="posts-list">
      <div *ngIf="postsNormal && !loading" class="post-row d-flex">
        <app-posts-single *ngFor="let p of postsNormal | async" [post]="p" class="col-md-4" (open)="opened($event)">
        </app-posts-single>
      </div>
      <div infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="500" (scrolled)="onScroll()">
      </div>
    </div>
    <app-loading-spinner *ngIf="loading">Loading</app-loading-spinner>

  </div>
    <app-posts-image class="modal" *ngIf="showDetails && viewPost.type == 'IMAGE'" (close)="closed($event)" [post]="viewPost"></app-posts-image>
    <app-posts-video class="modal" *ngIf="showDetails && viewPost.type == 'VIDEO'" (close)="closed($event)" [post]="viewPost"></app-posts-video>

</div>