.content {
    margin-left: 220px;
    padding: 0;
}

.posts-top {
    padding: 20px 40px;
    justify-content: space-between;
}

.posts-top h2 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.posts-list {
    padding: 10px 20px;
}

.col-md-4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 10px;
}

.posts-list .post-row {
    display: flex;
    flex-wrap: wrap;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 1, 1, 0.781);
    z-index: 1000;
}

nav {
    border: 1px solid red;
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    background: #FDFDFD;
    height: 80px;
    padding: 10px;
}

.user-box .img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png');
    background-size: cover;
    background-repeat: no-repeat;
}